{{ if .Site.Params.education.enable | default false }}
<section id="education" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.education.title | default "Education" }}</h3>
        <div class="row justify-content-center py-5">
            <style>
                .edu-logo-wrapper {
                    background: #222; /* Match with education section background color */
                    padding: 0.5rem 1rem;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .edu-logo {
                    width: 150px; /* Fixed width */
                    height: 150px; /* Fixed height */
                    display: block; /* Ensure proper alignment */
                    object-fit: contain; /* Maintain aspect ratio */
                    background-color: #ffffff;
                }

                .transparent-bg {
                    background-color: transparent !important;
                }

                .course-list {
                    list-style-type: disc;
                    padding-left: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px; /* Add space between list items */
                    justify-content: flex-end;
                    margin-top: 50px;
                }

                .course-list li {
                    display: flex;
                    align-items: center;
                    width: 45%; /* Adjust to fit two items per row */
                    margin-bottom: 10px;
                }

                .course-logo {
                    width: 50px; /* Fixed width */
                    height: 50px; /* Fixed height */
                    object-fit: contain; /* Maintain aspect ratio */
                    margin-right: 10px;
                }

                .education-card {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                }

                .education-details {
                    flex: 1;
                    min-width: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }

                .relevant-courses {
                    flex: 1;
                    min-width: 250px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }

                .left-column {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .left-top {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .left-bottom {
                    margin-top: 1rem;
                }
            </style>
            {{ range .Site.Params.education.items }}
            <div class="col-12 p-0">
                <div class="row align-items-center justify-content-center m-1 mb-4">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body education-card">
                                <div class="left-column">
                                    <div class="left-top">
                                        {{ if .school.logo }}
                                        <div class="edu-logo-wrapper">
                                            <img src="{{ .school.logo | relURL }}" alt="{{ .school.name }} logo" class="edu-logo transparent-bg">
                                        </div>
                                        {{ end }}
                                    </div>
                                    <div class="left-bottom">
                                        <div>
                                            {{ if .school.url }}
                                            <a href="{{ .school.url }}" target="_blank">
                                                <h5 class="mb-0">{{ .school.name }}</h5>
                                            </a>
                                            {{ else }}
                                            <h5 class="mb-0">{{ .school.name }}</h5>
                                            {{ end }}
                                            <div>
                                                <small>{{ .date }}</small>
                                            </div>
                                            {{ if .GPA }}
                                            <div class="py-1">
                                                GPA:
                                                <i>
                                                    <small>{{ .GPA }}</small>
                                                </i>
                                            </div>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                                {{ if eq .school.name "University of California, Berkeley" }}
                                <div class="relevant-courses">
                                    <h6 style="text-align: center;">Relevant Courses:</h6>
                                    <ul class="course-list">
                                        <li>
                                            <img src="/logos/cs70.png" alt="CS70 Logo" class="course-logo">
                                            COMPSCI 70 - Discrete Mathematics and Probability Theory
                                        </li>
                                        <li>
                                            <img src="/logos/cs188.png" alt="CS188 Logo" class="course-logo">
                                            COMPSCI 188 - Artificial Intelligence
                                        </li>
                                        <li>
                                            <img src="/logos/cs161.png" alt="CS161 Logo" class="course-logo">
                                            COMPSCI 161 - Computer Security
                                        </li>
                                        <li>
                                            <img src="/logos/cs186.png" alt="CS186 Logo" class="course-logo">
                                            COMPSCI 186 - Introduction to Database Systems
                                        </li>
                                    </ul>
                                </div>
                                {{ end }}
                            </div>
                            {{ if .content }}
                            <div class="py-1 education-content">
                                {{ .content | markdownify}}
                            </div>
                            {{ end }}
                            {{ if .featuredLink.enable }}
                            <div class="py-1">
                                <a href="{{ .featuredLink.url }}" class="btn">
                                    {{ .featuredLink.name | default "Featured" }}
                                </a>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}